extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/recipe.css")

block content
  div(class='recipe-page core-display')
    div(class='recipe-page__recipe-list recipe-list')
      h1(class='recipe-list__recipe-title recipe-list')=normalizedRecipe.name
      img(class='recipe-list__recipe-image recipe-list', alt=`Photo of ${normalizedRecipe.name}`, src=normalizedRecipe.link)
      div(class='recipe-page__buttons-container')
        div(class='save-buttons-container')
          +saveButtons(normalizedRecipe)
        div(class='rating-buttons-container')
          +ratingButtons(normalizedRecipe)
        a(href=`/recipes/${normalizedRecipe.id}/review`) Leave A Review!
      h3(class='recipe-header recipe-list') Description
      div(class='recipe-description__recipe-description recipe-list')=normalizedRecipe.description
    div(class='recipe-ingredients')
      h3(class='recipe-header') Ingredients
      each ingredient in normalizedRecipe.ingredients
        div(class="recipe-ingredients__ingredient")
          input(type="checkbox", name=ingredient)
          label(for=ingredient)=ingredient
    div(class='recipe-instructions')
      h3(class='recipe-header recipe-list') Instructions
      each instruction, index in normalizedRecipe.instructions
        div(class="step_checkbox_container")
          input(class="step_checkbox", type="checkbox", name=instruction)
          label(class='recipe_step', for=instruction) Step #{index+1}
        div(class='recipe-description__recipe-description recipe-list') #{instruction}
    div(class='recipe-separator') -
    div(class='recipe-avg')
      div Avg. Rating
      +starAverage(avgRating, normalizedRecipe)
    if userRating
      div(class='recipe-ratings__user-rating')
        div(class='recipe-ratings__user-rating-title')
          div My Review
          a(href=`/recipes/${normalizedRecipe.id}/review`) Edit my review
        div(class='recipe-ratings__user-rating-content')
          +starAverage(userRating.starRating, normalizedRecipe)
          div= userRating.content

    div(class='recipe-ratings__individual-rating')
      div(class='recipe-ratings__individual-rating-title')
        div Other User's Reviews
<<<<<<< HEAD
      each rating in ratings
        div(class='recipe-ratings__individual-rating-content')
          div(class='recipe-ratings__individual-rating-username')= rating.User.username
          +starAverage(rating.starRating, normalizedRecipe)
          div= rating.content
=======
      if ratings
        each rating in ratings
          div(class='recipe-ratings__individual-rating-content')
            +starAverage(rating.starRating, normalizedRecipe)
            div= rating.content
>>>>>>> main
  script(src='/javascripts/saveRecipe.js' type="module" defer)
  script(src='/javascripts/rateRecipe.js' type="module" defer)
