extends layout.pug

block content
  div(class='recipe-page core-display')
    div(class='recipe-page__recipe-list recipe-list')
      h1(class='recipe-list__recipe-title recipe-list')=recipe.name
        div(class='rating')
              span ☆
              span ☆
              span ☆
              span ☆
              span ☆
      img(class='recipe-list__recipe-image recipe-list', alt=`Photo of ${recipe.name}`, src=recipe.link)
      h3(class='recipe-header recipe-list') Description
      div(class='recipe-description__recipe-description recipe-list')=recipe.description
    div(class='recipe-ingredients')
      h3(class='recipe-header') Ingredients
      div(class='recipe-description__recipe-description')=recipe.ingredients
    div(class='recipe-instructions')
      h3(class='recipe-header recipe-list') Instructions
      div(class='recipe-description__recipe-description recipe-list')=recipe.instructions
  div(class='recipe-ratings core-display')
    //each rating in ratings
    h3(class='recipe-ratings-title') User Ratings
    div(class='recipe-user') User
    div(class='recipe-rating') Rating
