extends layout.pug
include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/recipe.css")

block content
  div(class='recipe-page core-display')
    div(class='recipe-page__recipe-list recipe-list')
      h1(class='recipe-list__recipe-title recipe-list')=normalizedRecipe.name
      +starAverage(avgRating, normalizedRecipe)
      img(class='recipe-list__recipe-image recipe-list', alt=`Photo of ${normalizedRecipe.name}`, src=normalizedRecipe.link)
      div(class='recipe-page__buttons-container')
        if user
          div(class='save-buttons-container')
            +saveButtons(normalizedRecipe)
          div(class='rating-buttons-container')
            +ratingButtons(normalizedRecipe)
          a(href=`/recipes/${normalizedRecipe.id}/review`) Leave A Review!
        else
          a(href=`/users/login`) Leave A Review!
      h3(class='recipe-header recipe-list') Description
      div(class='recipe-description__recipe-description recipe-list')=normalizedRecipe.description
    div(class='recipe-ingredients')
      h3(class='recipe-header') Ingredients
      div(class='recipe-description__recipe-description')
      each ingredient in normalizedRecipe.ingredients
        div - #{ingredient}
    div(class='recipe-instructions')
      h3(class='recipe-header recipe-list') Instructions
      div(class='recipe-description__recipe-description recipe-list')=normalizedRecipe.instructions
  div(class='recipe-ratings core-display')
    //each rating in ratings
    h3(class='recipe-ratings-title') User Ratings
    div(class='recipe-user') User
    div(class='recipe-rating') Rating
  script(src='/javascripts/saveRecipe.js' type="module" defer)
  script(src='/javascripts/rateRecipe.js' type="module" defer)
