mixin field(labelText, fieldName, fieldValue, fieldType = "text")
  div
    label(class='form-label', for=fieldName)= labelText
  div
    input(class='form-input', type=fieldType, id=fieldName, name=fieldName, value=fieldValue)
