mixin field(labelText, fieldName, fieldValue, fieldType = "text")
  div
    label(class='form-label', for=fieldName)= labelText
  div
    input(class='form-input', type=fieldType, id=fieldName, name=fieldName, value=fieldValue)

mixin saveButtons(recipe)
  if locals.authenticated
    div(class='save-cook-favorite-buttons')
      if recipe.status.saved
        button(class='recipe-save button', id=`recipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Unsave Recipe
      else
        button(class='recipe-save button', id=`recipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Save Recipe
      if recipe.status.cooked
        button(class='recipe-cooked button', id=`cookedrecipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Remove from Cooked
      else
        button(class='recipe-cooked button', id=`cookedrecipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Add to Cooked
      if recipe.status.favorited
        button(class='recipe-favorited button', id=`favoriterecipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Unfavorite
      else
        button(class='recipe-favorited button', id=`favoriterecipe:${recipe.id}.cupboard:${user.Cupboards[0].id}`, type='submit') Favorite

mixin ratingButtons(recipe)
  if recipe.status.starRating
    - let n = 5
    div(class='rating')
      span(class='rating__button rating__delete fa fa-minus-circle', id=`recipe:${recipe.id}`)
      while n >= 1
        if n > recipe.status.starRating
          span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:${n}`)
        else
          span(class='rating__button fa fa-star checked', id=`recipe:${recipe.id}.star:${n}`)
        - n--
  else
    div(class='rating')
      span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:5`)
      span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:4`)
      span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:3`)
      span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:2`)
      span(class='rating__button fa fa-star', id=`recipe:${recipe.id}.star:1`)

mixin recipeTable(recipes)
  table(id='saved-table')
    tbody(class='')
      tr
        th(scope='col') Recipe
        th(scope='col') Title
        th(scope='col') Author
        th(scope='col') Rating
        th(scope='col') Cupboards
        th(scope='col') Review
      each recipe in recipes
        tr
          td(class='recipe-thumbnail'): a(class='recipe', href=`/recipes/${recipe.id}`)
            img(class='recipe', src= recipe.link, height='50px', width='50px')
          td: a(class='recipe', href=`/recipes/${recipe.id}`)= recipe.name
          td= recipe.author
          td: +ratingButtons(recipe)
          td(class='save-cell'): +saveButtons(recipe)
          if recipe.status.starRating
            td: a(class='recipe', href=`/recipes/${recipe.id}/review`) Write a Review
          else
            td Rate to write a review!
